<aside class="callout warning">
    <div class="type">
        <svg class="large-icon">
            <use xlink:href="/icons/icons.svg#callout-warning">
            </use>
        </svg>
    </div>
    <div class="content">
        This page is under construction
    </div>
</aside>

{{ range $branch, $aggregatedStatus := .StatusByBranch }}
<table>
    <caption>Monitor Status for {{ $branch }}</caption>
    <thead>
    <tr>
        <th>Monitor</th>
        <th>Status</th>
        <th>ProjectID</th>
        <th>ClusterName</th>
        <th>UpdatedTime</th>
        <th>TestID</th>
        <th>FiredTimes</th>
    </tr>
    </thead>
    <tbody>
        {{ range $monitorName, $singleStatus := $aggregatedStatus }}
        <tr>
            <td>{{ $monitorName }}</td>
            <td>{{ $singleStatus.Status }}</td>
            <td>{{ $singleStatus.ProjectID }}</td>
            <td>{{ $singleStatus.ClusterName }}</td>
            <td>{{ $singleStatus.UpdatedTime }}</td>
            <td>{{ $singleStatus.TestID }}</td>
            <td>{{ $singleStatus.FiredTimes }}</td>
        </tr>
        {{ end}}
    </tbody>
</table>
{{ end}}