<aside class="callout warning">
    <div class="type">
        <svg class="large-icon">
            <use xlink:href="/icons/icons.svg#callout-warning">
            </use>
        </svg>
    </div>
    <div class="content">
        This page is under construction
    </div>
</aside>

<h2>
    This dashboard shows results of release qualification pipeline
</h2>

<p>
    To view the monitor/alert definition, checkout <a href="https://github.com/istio/tools/blob/master/perf/stability/alertmanager/prometheusrule.yaml">PrometheusRule list</a>
</p>

{{ range $testID, $aggregatedStatus := .StatusByTestID }}
<div>
    <h2>Test result for {{ $testID }}</h2>
<table>
    <caption>Test Info</caption>
    <thead>
    <tr>
        <th>ProjectID</th>
        <th>ClusterName</th>
        <th>Branch/SHA/Tag</th>
        <th>PrometheusLink</th>
        <th>GrafanaLink</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            {{ with (index $.MetadataByTestID $testID) }}
            <td>{{ .ProjectID }}</td>
            <td>{{ .ClusterName }}</td>
            <td>{{ .Branch }}</td>
            <td>{{ .PrometheusLink }}</td>
            <td>{{ .GrafanaLink }}</td>
            {{ end }}
        </tr>
    </tbody>
</table>
    <p></p>
<table>
    <caption>Monitor Status</caption>
    <thead>
    <tr>
        <th>Monitor</th>
        <th>Status</th>
        <th>UpdatedTime</th>
        <th>FiredTimes</th>
        <th>LastFiredTime</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        {{ range $monitorName, $singleStatus := $aggregatedStatus }}
        <tr>
            <td>{{ $monitorName }}</td>
            {{ if eq $singleStatus.Status "HEALTHY"}}
              <td style="color: green">{{ $singleStatus.Status }}</td>
            {{ else }}
              <td style="color: red">{{ $singleStatus.Status }}</td>
            {{ end }}
            <td>{{ $singleStatus.UpdatedTime }}</td>
            {{ if eq $singleStatus.FiredTimes 0 }}
                <td style="color: green">{{ $singleStatus.FiredTimes }}</td>
            {{ else }}
                <td style="color: red">{{ $singleStatus.FiredTimes }}</td>
            {{ end }}
            <td>{{ $singleStatus.LastFiredTime }}</td>
            <td>{{ $singleStatus.Description }}</td>
        </tr>
        {{ end}}
    </tbody>
</table>
</div>
{{ end}}