[aria-label=Control] {
    text-transform: uppercase;
    margin: 1.1em 0;

    @media print {
        display: none;
    }

    a:focus {
        outline: 0;
    }

    border-bottom: 1px solid $boxBorderColor;
}
