version: 2
jobs:
  build_policybot:
    docker:
      - image: gcr.io/istio-testing/circleci:2019-04-22
    working_directory: /go/src/istio.io/bots
    steps:
      - checkout
      - run:
          name: Building policybot
          command: |
            cd policybot
            go build

  lint:
    docker:
      - image: gcr.io/istio-testing/circleci:2019-04-22
    working_directory: /go/src/istio.io/bots
    steps:
      - checkout
      - run:
          name: Linting
          command: |
            make lint

workflows:
  version: 2
  all:
    jobs:
      - lint
      - build_policybot
