<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<p>
    This will display information about GitHub post submit text results
</p>

<table id="main">
  <thead>
  <tr>
      <th>LabelName</th>
      {{ range .AllEnvNanme }}
      <th>{{ . }}</th>
      {{ end }}
  </tr>
  </thead>
  <tbody>
    {{ range .LabelEnv }}
      <table>
        <thead>
          <tr>
            <td class="pivot">{{ .Label }}</td>
            {{ range .EnvCount }}
            <td>{{ . }} <button class="1" type="button">View All Test</button></td>
            {{ end }}
          </tr>
        </thead>

        <tbody class="collapsed">
          <td class="subtd">
          {{ range .SubLabel.LabelEnv}}    
            <table class="subtable">
              <tr>
                <thead>
                  <td class="pivot">&nbsp {{ .Label }}</td>
                  {{ range .EnvCount }}
                  <td>{{ . }} <button class="2" type="button">View All Test</button></td>
                  {{ end }}
                </thead>
              </tr>
              <tbody class="collapsed"> 
                <td class="subtd">
                {{ range .SubLabel.LabelEnv}}
                  <table class="subtable">
                    <tr>
                      <thead>
                        <td class="pivot">&nbsp &nbsp {{ .Label }}</td>
                        {{ range .EnvCount }}
                        <td>{{ . }} <button class="3" type="button">View All Test</button></td>
                        {{ end }}
                      </thead>
                    </tr>
                    <tbody class="collapsed">
                      <td class="subtd">
                        {{ range .SubLabel.LabelEnv}}
                          <table class="subtable">
                            <tr>
                              <thead>
                                <td class="pivot">&nbsp &nbsp &nbsp {{ .Label }}</td>
                                {{ range .EnvCount }}
                                <td>{{ . }} <button class="4" type="button">View All Test</button></td>
                                {{ end }}
                              </thead>
                            </tr>
                            <tbody class="collapsed">
                              {{ range .SubLabel.LabelEnv}}
                                <tr>
                                  <td class="pivot">&nbsp &nbsp &nbsp &nbsp {{ .Label }}</td>
                                  {{ range .EnvCount }}
                                  <td>{{ . }} <button class="5" type="button">View All Test</button></td>
                                  {{ end }}
                                </tr>
                              {{ end }}
                            </tbody>
                          </table>
                        {{ end }}
                      </td>       
                    </tbody>
                  </table>
                {{ end }}
                </td>                
              </tbody>
            </table>  
          {{ end }}
          </td>
        </tbody>
      </table>
    {{ end }}
  </tbody>
</table>

<script>
  $('.pivot').on('click', function(){
      $(this).closest("thead").next('tbody').toggleClass('collapsed');
  });
  $(".1").click(function() {
    var label= $(this).closest("tr").find(".pivot").text();
    var env= $('#main thead th').eq($(this).closest("td").index()).text();
    alert(label);
    alert(env);
  });
  $(".2").click(function() {
    var label= $(this).closest("tbody").prev("thead").find("tr").find(".pivot").text()+
    "."+$(this).closest("tr").find(".pivot").text().replace(' ', '');
    var env= $('#main thead th').eq($(this).closest("td").index()).text();
    alert(label);
    alert(env);
  });
  $(".3").click(function() {
    var $label_pos = $(this).closest("tr").find(".pivot")
    var label= $label_pos.text().replace(' ', '');
    for (i = 0; i < 2; i++) {
      $label_pos = $label_pos.closest("tbody").prev("thead").find("tr").find(".pivot")
      label = $label_pos.text().replace(' ', '') + "." + label;
    }
    var env= $('#main thead th').eq($(this).closest("td").index()).text();
    alert(label);
    alert(env);
  });
  $(".4").click(function() {
    var $label_pos = $(this).closest("tr").find(".pivot")
    var label= $label_pos.text().replace(' ', '');
    for (i = 0; i < 3; i++) {
      $label_pos = $label_pos.closest("tbody").prev("thead").find("tr").find(".pivot")
      label = $label_pos.text().replace(' ', '') + "." + label;
    }
    var env= $('#main thead th').eq($(this).closest("td").index()).text();
    alert(label);
    alert
  });
</script>

<style>
  .collapsed {
    display: none;
  }
  table {
    table-layout: fixed;
    width: 600px;
    padding: 0;
    border-collapse: collapse;
    margin-left: 0;
  }

  table > tr > td {
      width: 150px;
  }
  tr {
    cursor: pointer;
  }
  td, th {
    padding: 0px;
  }
  .subtd{
    border: 0px;
  }
</style>