<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<p>
    This will display information about Environment and Label for the BaseSha you chose
</p>

<table id="main">
  <thead>
  <tr>
      <th>LabelName</th>
      {{ range .AllEnvNanme }}
      <th>{{ . }}</th>
      {{ end }}
  </tr>
  </thead>
  <tbody>
    {{ range .LabelEnv }}
      <table>
        <thead>
          <tr>
            <td class="pivot">{{ .Label }}</td>
            {{ range .EnvCount }}
            <td>{{ . }} <button class="0" type="button">View All Test</button></td>
            {{ end }}
          </tr>
        </thead>
        {{template "innerlayer" .SubLabel}}      
      </table>
    {{ end }}
  </tbody>
</table>
<br>
<p> View TestNames</p>
<table>
  <thead>
    <tr>
      <th>TestName</th>
    </tr>
  </thead>
  <tbody>
    {{range $testname := .TestNameByEnvLabels}}
      <tr>
        <td>{{ $testname.TestOutcomeName }} 
          <a href="https://prow.istio.io/view/gcs/istio-prow/logs/{{ $testname.TestName }}/{{ $testname.RunNumber }}">Prow Link</a></td>
      </tr>
    {{ end }}
  </tbody>
</table>

{{ define "innerlayer" }}
<tbody class="collapsed">
  <td class="subtd">
    {{ range .LabelEnv}}
    {{$depth := .Depth}}
      <table class="subtable">
        <thead>
          <tr>
            <td class="pivot">
              {{range slice $depth}}&nbsp;{{end}}{{ .Label }}
            </td>
            {{ range .EnvCount }}
            <td>{{ . }} <button class="{{$depth}}" type="button">View All Test</button></td>
            {{ end }}
          </tr>
        </thead>
        {{ if .SubLabel.LabelEnv }}
          {{template "innerlayer" .SubLabel }}
        {{ end }}
      </table>
    {{ end }}
  </td>       
</tbody>
{{ end }}

<script>
  $('.pivot').on('click', function(){
      $(this).closest("thead").next('tbody').toggleClass('collapsed');
  });
  $("button").click(function() {
    var label = getLabel($(this),parseInt(this.className));
    alert(label)
    var env= getEnv($(this));
    postEnvLabel(env,label);
  });
  function postEnvLabel(env,label){
    $.ajax({
        url: "/selectEnvLabel",
        type: 'POST',
        data: {env:env, label:label},
    });
    window.location.assign("/postsubmit?option=analysis");
  };
  function getLabel($pos,num){
    var $label_pos = $pos.closest("tr").find(".pivot")
    var label= $label_pos.text().replace(/(\xA0|\r\n|\n|\r| )/gm,"")
    for (i = 0; i < num; i++) {
      $label_pos = $label_pos.closest("tbody").prev("thead").find("tr").find(".pivot")
      label = $label_pos.text().replace(/(\xA0|\r\n|\n|\r| )/gm,"") + "." + label;
    }
    return label;
  };
  function getEnv($pos){
    return $('#main thead th').eq($pos.closest("td").index()).text();
  };
</script>

<style>
  .collapsed {
    display: none;
  }
  table {
    table-layout: fixed;
    width: 600px;
    padding: 0;
    border-collapse: collapse;
    margin-left: 0;
  }

  table > tr > td {
      width: 150px;
  }
  tr {
    cursor: pointer;
  }
  td, th {
    padding: 0px;
  }
  .subtd{
    border: 0px;
  }
</style>