.analysis{
    .collapsed {
        display: none;
    }
        
    table {
        table-layout: fixed;
        width: 800px;
        padding: 0;
        border-collapse: collapse;
        margin-left: 0;
    }
    
    table > tr > td {
        width: 150px;
    }
        
    tr {
        cursor: pointer;
    }
        
    td, th {
        padding: 0px;
    }
        
    .subtd{
        border: 0px;
    }
        
    #testname{
        width: 1000px;;
    }
}

