#
# This leverages Google-managed SSL certificates which are automatically provisioned, renewed, and managed.
# https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs
#
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: policybot
  annotations:
    kubernetes.io/ingress.global-static-ip-name: k8s-fw-default-policybot--47acdd4adb2fcf6b
    networking.gke.io/managed-certificates: eng-istio-io
    ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  defaultBackend:
    service.name: policybot-server
    service.port.name: 8080
